<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li><a href="/Home/About">About</a></li>
                    <li><a href="/Home/Contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content" id="apprun-app">
        @RenderBody()
    </div>

    <div class="container">
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script src="https://unpkg.com/apprun@latest/dist/apprun-html.js"></script>

    <script>
        $.ajaxSetup({ cache: false });
        const get = url => new Promise((resolve, reject) => {
            $.getJSON(url)
                .then(d => resolve(d))
                .fail(e => reject(e))
        })

        window.addEventListener('popstate', (e) => {
            const path = document.location.pathname;
            app.run('/', path);
        });

        $('.navbar-nav li a').on('click', function (event) {
            event.preventDefault();
            $('.navbar-nav li a').removeClass('active');
            const menu = $(this).addClass('active')[0];
            history.pushState(null, '', menu.href);
            app.run('/', menu.pathname);
        });

        const view = (state) => state;

        const update = {
            '/': async (_, path) => {
                const json = await get(path);
                return json;
            }
        };

        app.start('my-app', null, view, update);
    </script>
</body>
</html>
